div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: purple;
}

h2 {
  font-size: 3rem;
  margin-top: -5px;
}

.inative {
  pointer-events: none;
}
