body {
  background-color: whitesmoke;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: white;
    transition: 0.2s linear;
    transform: scale(1.1);
  }
}
